header{
	background-color: mintcream;
}

.titre-page{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	border-bottom: solid;
	padding: 2%;
	margin :0;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card{
	border: solid;
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 2%;
}

.intitule{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid;
	width: 100%;
	padding: 2%;
	background-color: mintcream;
}

.post{
	display: flex;
	justify-content: center;
	padding: 6%;
}

.interaction{
	border-top: solid;
	padding: 2%;
	background-color: mintcream;
}

.like{
	display: flex;
	flex-direction: row;
}

.btnLike{
	border: none;
	background-color: transparent;
}

.like p{
	margin: 1%;
}

.commentaire{
	display: flex;
	flex-direction: row;
}

.commentaire p{
	margin: 1%;
}

.btnComment, .btnComment:focus{
	border: none;
	background-color: transparent;
	outline: none;
}
.commentAreaVisible{
	display: flex;
}

.commentAreaCacher{
	display: none;
}