

.card{
	border: solid;
	display: flex;
	flex-direction: column;
	background-color: mintcream;
	width: 500px;
	margin-bottom: 3%;
}

.intitule{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid;
	width: 100%;
}

.interaction{
	border-top: solid;
	
}