

.titre-page{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	border-bottom: solid;
	margin-bottom: 5%;
	padding: 2%;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1450px;
	border: solid;
	margin: 2%;
	background-color: cornflowerblue;
}

.card-profil{
	border: solid;
	border-radius: 5%;
	width: 600px;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-profil p{
	font-weight: bold;
	font-size: 200%;
}

.post-profil{
	border: solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: mintcream;
	width: 1000px;
	margin-bottom: 3%;
}


.intitule{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid;
	width: 100%;
	padding: 3%;
}

.card{
	border: solid;
	margin: 2%;
	width: 25%;
}
.post{
	display: flex;
	justify-content: center;
	padding: 6%;
}
