<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <header>
	  
    <h1 class="titre-page">
		<i class="fa-brands fa-twitter"></i>
   		<p> Fil d'Actualité </p> 
   		<a th:href="@{/profil}"><i class="fa-solid fa-user"></i></a>
  </h1>
    
  </header>
  
  <main>
	  
    <article class="card" th:each="post : ${LesPosts}">
		
    	<section class="intitule">
			<p th:text=" ${post.user.username}"></p>
			<p th:text=" ${post.user.datecreation}"></p>
		</section>
		
		<section class="post">
			<p th:text=" ${post.content}"></p>
		</section>
		
		<section class="interaction">
			
			<div class="like">
				
				<button class="btnLike" th:data-idpost='|${post.idpost}|'><i class="fa-regular fa-heart"></i></button>
				<p th:text=" ${@postService.getLikesCountForPost(post.idpost)}"></p>
				<button class="btnComment"> <i class="fa-regular fa-comment"></i> </button>
			</div>
			
			<div class="commentaire" th:each="comment : ${post.comments}">
				<p th:text=" ${@usersService.getUsers(comment.id_user).get().getUsername} + ':'"></p>
		        <p th:text=" ${comment.text}"></p>
		    </div>
		    
		    <textarea class="commentAreaCacher" cols="30" rows="5"></textarea>
		    
		</section>
		
		
    </article>
  </main>
</body>

<script src="/JavaScript/script.js" th:href="@{/JavaScript/script.js}" />

</html>